<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-success">New recipe</button>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-sm-12">
        <a href="#" *ngFor="let recipe of recipes" >
            <div class="d-flex justify-content-between">
                <div>
                    <h4>{{ recipe.name }}</h4>
                    <p>{{ recipe.description }}</p>
                </div>
                <div>
                    <img [src]="recipe.imageUrl" class="img-fluid" style="max-height: 50px;" alt="{{ recipe.name }}">
                </div>
            </div>
        </a>
    </div>
</div>

<app-recipe-item></app-recipe-item>